@import "variables";
@import "mixins";

.home-alert {
	font-size: 15pt;
	font-family: $small-stack;
	color: white;
	padding: 5px 15px;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 50px;
	transition: $nav-transition;
	opacity: 0;
	border-radius: 0;
	background-color: rgba(190, 190, 190, 0.7);
}

.navbar-maximized + .home-alert {
	top: 100px;
	opacity: 1;
}

.home-alert-danger {
	background-color: rgba(250, 85, 85, 0.7);
}

.home-alert-info {
	background-color: rgba(70, 155, 225, 0.7);
}

.home-alert-success {
	background-color: rgba(80, 195, 90, 0.7);
}