/* CSS declarations go here */
@import "variables";
@import "mixins";

html {
	background-color: $footer-color;
}

body {
	background-color: #e8e8e8;
}

h1, h2 {
	@include bigHeaders;
}

h3, h4, h5, h6 {
	@include smallHeaders;
}

p {
	margin: 0 0 20px;
}

p, main ul, main ol, main li, main a, html, .note-editable {
	font-family: $small-stack;
	font-size: 12pt;
}

.shadow {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.content {
	padding-top: 110px;
	padding-bottom: 40px;
}

/*Make the sponsor logos fit reasonably in the sponsor page*/
.sponsor {
	max-height: 300px;
	max-width: 100%;
}

/*Add more spacing between sponsor sections*/
.sponsor-container {
	padding: 25px 0;
}

.sponsors-left {
	padding-left: 0;
}

.sponsors-right {
	padding-right: 0;
}

.edit .note-editor {
	margin-top: 5px;
	margin-bottom: 0;
}

.editor-title {
	margin-top: 20px;
	font-family: $big-stack;
	font-size: 24pt;
	text-transform: uppercase;
	width: 100%;
}

.editor-buttons button, .btn-editor {
	margin-right: 10px;
}

.editor-link {
	font-size: 24px;
}

.nav-tabs {
	margin-bottom: 20px;
}

.signout {
	font-family: $small-stack !important;
	font-weight: normal;
	text-transform: none;
	float: right;
}

.btn-google-login {
	transition: $nav-transition;
	background-color: rgba(195, 47, 16, 1);
	color: white;
	font-size: 18px;
	border: 0;
	border-radius: 0;
	padding: 10px 15px;
}

.btn-google-login:hover {
	color: white;
	background-color: rgba(195, 47, 16, 0.7);
}

.btn-google-login i {
	margin-right: 10px;
}

.card-corner {
	float: right;
	color: red;
	cursor: pointer;
}

#edit-collapse .row {
	margin-top: 25px;
}

input.form-control {
	margin-top: 5px;
}

.form-group h3 {
	margin-top: 0;
}

@media (max-width: 767px) {
	// Remove padding from sponsors when on mobile so it doesn't cause a shift
	.sponsors-left {
		padding-right: 0;
	}

	.sponsors-right {
		padding-left: 0;
	}

	// Add spacing to the team/preview update and change forms when they are not side-by-side
	.form-group {
		margin-top: 15px;
	}
}