$big-stack: "CooperHewitt Semibold", "Franklin Gothic Medium", "Franklin Gothic", Arial, sans-serif;
$small-stack: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;

$nav-transition: all 0.2s ease;

$footer-color: rgb(200,200,200);
